/* HEADER SECTION */
.header {
    /* background-color: var(--header-blue); */
    /* color: var(--page-white); */
    padding: 20px;
    position: fixed;
    width: 100%;
}

/* targetting logo span */
/* .seo {
    color: var(--white-tint);
} */

/* targeting navigation menu only */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-size: 20px;
}

/* targetign headers */
.header h1 {
    /* display: inline-block; */
    font-size: 48px;
}
.header h1:hover {
    /* text shadow on hover */
    text-shadow: 2px 2px 2px rgba(0,0,0, 0.50);
}
.header h1:focus {
    /* remove text shadow on click */
    text-shadow: none;
}

/* targeting list items */
.header nav ul li {
    /* display: inline-block; */
    margin-left: 25px;

    /* underline */
    position: relative;
}

/* Nav list underline hover animation */
.header nav ul li:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: -5px;
    border-radius: 3px;
    left: 0;
    background-color: #0072bb;
    transform-origin: bottom right;
    transition: transform 0.65s ease-out;
}
.header nav ul li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

/* #horiseon-logo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */


/* MAIN CONTENT */

/* HERO SECTION */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* targeting image (screen reader only) */
.hero img {display: none;}


/* BRAND SECTION */
.content {
    /* display: inline-block; */
    width: 75%;
    margin-left: 20px;
}

.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    /* background-color: var(--page-blue); */
    /* color: var(--page-white); */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
}

/* targeting images */
.search-engine-optimization img, .social-media-marketing img {
    /* float: left; */
    max-height: 200px;
    margin-right: 25px;
}
.online-reputation-management img {
    /* float: left; */
    max-height: 200px;
    margin-left: 25px;
}

/* targeting headers */
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


/*   BENEFITS SECTION   */
.benefits {
    /* float: right; */
    /* clear: both; */
    /* background-color: var(--page-lblue); */
    margin-right: 20px;
    padding: 20px;
    width: 20%;
    height: 100%;
}

.benefit-lead, .benefit-brand, .benefit-cost {
    /* color: var(--page-white); */
    margin-bottom: 32px;
}

/* targeting headers */
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* targetting images */
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    /* display: block; */
    margin: 10px auto;
    max-width: 150px;
}


/*   FOOTER SECTION   */
.footer {
    /* clear: both; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    padding: 30px;
    text-align: center;
}

/* targeting headers */
.footer h2 {
    font-size: 20px;
}


/* Media Queries */
/* Page currently unresponsive to screen res and size */

/* KEYFRAMES */
